__pycache__/
archive/
Data/
checkpoints/
save_loss/
save_model/
save_predictions/
saved_models/
results/
snapshot/






*.csv
*.npy
*.npz
*.jpg
*.log
*.pyc
*.mp4
*.mkv
*.joblib
*.md
*.pth
*.gz
*.tar
